<div style="text-align:center;width:500px;" >
  <h4>
        {{ title }}!
  </h4>

  <table class="minimalistBlack" *ngIf="arrJRecords">
    <thead>
      <tr>
            <th scope="col">Select</th>
            <th scope="col">Submit</th>
            <th scope="col">name</th>
            <th scope="col">phone</th>
            <th scope="col">email</th>
            <th scope="col">company</th>
            <th scope="col">date_entry</th>
            <th scope="col">org_num</th>
            <th scope="col">address_1</th>
            <th scope="col">city</th>
            <th scope="col">zip</th>
            <th scope="col">geo</th>
            <th scope="col">pan</th>
            <th scope="col">pin</th>
            <th scope="col">id</th>
            <th scope="col">status</th>
            <th scope="col">fee</th>
            <th scope="col">guid</th>
            <th scope="col">date_exit</th>
            <th scope="col">date_first</th>
            <th scope="col">date_recent</th>
            <th scope="col">url</th>
      </tr>
    </thead>
    <tbody>
       <tr *ngFor = "let rec of arrJRecords | paginate: { itemsPerPage: 10, currentPage: p }; let i=index;" (click)="setClickedRow(i)" [class.active]="i == selectedRow"

            [attr.data-index]="i" [className]=" selectedAll==true || selectedRow1.indexOf(i)>-1 ? 'pointer selected' : 'pointer'">
              <td class=" text-left" width="20">
                <input type="checkbox" (change)="selectAll(i)" [checked]="selectedAll == true" />
              </td>

              <td>
                <button (click)="sendPost(rec)">Send</button>
              </td>


            <td> <span>{{rec.name}} </span></td>
            <td> <span>{{rec.phone}} </span></td>
            <td> <span>{{rec.email}} </span></td>
            <td> <span>{{rec.company}} </span></td>
            <td> <span>{{rec.date_entry}} </span></td>
            <td> <span>{{rec.org_num}} </span></td>
            <td> <span>{{rec.address_1}} </span></td>
            <td> <span>{{rec.city}} </span></td>
            <td> <span>{{rec.zip}} </span></td>
            <td> <span>{{rec.geo}} </span></td>
            <td> <span>{{rec.pan}} </span></td>
            <td> <span>{{rec.pin}} </span></td>
            <td> <span>{{rec.id}} </span></td>
            <td> <span>{{rec.status}} </span></td>
            <td> <span>{{rec.fee}} </span></td>
            <td> <span>{{rec.guid}} </span></td>
            <td> <span>{{rec.date_exit}} </span></td>
            <td> <span>{{rec.date_first}} </span></td>
            <td> <span>{{rec.date_recent}} </span></td>
            <td> <span>{{rec.url}} </span></td>
        </tr>
    </tbody>
  </table>
</div>

<p>total checked: {{selectedRow1.length}}</p>
<pagination-controls (pageChange)="p = $event"></pagination-controls> 
